@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');


/* Estilos para toda la aplicación */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  height: 100vh;
}

.left-section {
  background-image: url('./Images/Izquierda.png'); /* Ruta de tu imagen */
  background-size: auto 100%; /* Ajusta la altura al 100% del contenedor, manteniendo la proporción */
  background-position: center; /* Centra la imagen en el contenedor */
  background-repeat: no-repeat;
  width: 15%; 
  height: 100%;
  border-right: 5px solid red;
}


.right-section {
  background-image: url('./Images/Derecha.png'); /* Ruta de tu imagen */
  flex: 1;
  position: relative;
}
.top-section {
  background-image: url('./Images/Derecha.png'); /* Ruta de tu imagen */
  background-size: auto 100%; /* Ajusta para cubrir todo el espacio */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita repeticiones */
  height: 20%; /* Define la mitad del contenedor padre */
  width: 100%;
}
.bottom-section {
  background-image: url('./Images/fondoderechaabajo.png');
  background-size: auto 90%;
  background-position: center 70px; /* Mueve el fondo más abajo */
  background-repeat: no-repeat;
  height: 80%;
  width: 100%;
}


/* Línea horizontal en la sección derecha, ajustada hacia arriba */
.horizontal-line {
  position: absolute;
  top: 20%; /* Ajuste para subir la línea horizontal */
  left: 0;
  width: 100%;
  height: 5px;
  background-color: red;
  transform: translateY(-50%);
}

/* Círculo en la intersección de las líneas */
.circle {
  position: absolute;
  top: 20%;
  left: 0;
  width: 80px;
  height: 80px;
  background-color: blue;
  border: 5px solid red;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
}

.circlee {
  position: absolute;
  top: 20%;
  left: 0;
  width: 80px;
  height: 80px;
  background-color: blue; 
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.bottom-section .lorem-text {
  color: white; /* Color del texto */
  font-size: 30px; /* Tamaño del texto ajustado */
  font-family: 'Courgette', cursive; /* Aplica la fuente Courgette */
  width: 100%; /* Define un ancho fijo para limitar el texto */
  text-align: center; /* Centra el texto */
  line-height: 1.5; /* Espaciado entre líneas */
  white-space: normal; /* Permite el ajuste automático del texto */
  position: relative;
  top: 5%;
}










